@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --head-font: "Knewave", "Times New Roman";
    --body-font: "Comic Neue Static", "Times New Roman";
    --primary-color: ;
    --secondary-color: ;
    --accent-color-1: ;
    --accent-color-2: ;
}

body {
    margin: 0;
    padding: 0;

}
.container {
    width: 100%;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 175px;
    z-index: 1000;
    background-color: white;
}
.card-title > h1 {
    font-family: var(--head-font);
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.card-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-nav > ul {
    list-style-type: none;
    text-align: center;
}
.li > a {
    font-family: var(--body-font);
}
.li > ul {
    justify-self: left;
}
.card-logo {
    grid-column: 1 / 2;
}
#logo {
    width: 175px;
    height: auto;
}
.card-title {
    grid-column: 2 / 3;
    justify-self: center;
    justify-content: center;
}
.card-nav {
    grid-column: 3 / 4;
    justify-self: center;
}
.hero {
    top:0;
}
#hero {
    width: 100%;
    height: auto;
}
.content {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.card {
    width: 50%;
    border: solid black 5px;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    text-align: center;
}
.card > img, .card > h2, .card > a{
    grid-column: 1/2;
}
 .card > button, .card > p {
    grid-column: 2/3
}
#card-image {
    width: 200px;
}
#card-button {
    width: 200px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-left > h1 {
    margin: 0;
    padding: 0;
}
.footer-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#smlogofacebook, #smlogoinstagram, #smlogotwitter, #smlogoyoutube {
    width: 16px;
    height: auto;
    margin: 4px;
}
#smlogofacebook {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 16px;
    height: 16px;
}
#smlogoinstagram {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 16px;
    height: 16px;
}
#smlogotwitter {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 16px;
    height: 16px;
}
#smlogoyoutube {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 16px;
    height: 16px;
}
